%html
  %head
    %script{src: "http://code.jquery.com/jquery.min.js"}    
    %script{src: "app.js"}
    
    %link{href: "http://meyerweb.com/eric/tools/css/reset/reset.css", rel: "stylesheet", type: "text/css"}
    %link{href: "style.css", rel: "stylesheet", type: "text/css"}

  %body

    #content

      .screen
        
        %h1 Heroku Addon Plan Manager
        
        %p.sensational
          This page will guide you through the process of creating pricing plans for your addon.
          Here's an example of the kind of pricing matrix you'll create...
    
        %table.plans                
          %thead
            %tr
              %th
                %h2 Acme Whizbang
              %th Developer
              %th Micro
              %th Micro Plus
              %th Starter
              %th Professional
              %th Premium

          %tbody
            %colgroup
              %col
              %col
              %col
              %col
              %col
              %col
              %col
            %tr
              %td.feature Cost Per Month
              %td FREE
              %td $9
              %td $7
              %td $25
              %td $45
              %td $85

          %tbody
            %tr
              %td.feature Messages Per Month
              %td 200
              %td 3,000
              %td 3,000
              %td 10,000
              %td 20,000
              %td 40,000

          %tbody
            %tr
              %td.feature Max Size
              %td 100 KB
              %td 500 KB
              %td 500 KB
              %td 2 MB
              %td 10 MB
              %td 50 MB

          %tbody
            %tr
              %td.feature Delivery Status Reports
              %td &#x2713;
              %td &#x2713;
              %td &#x2713;
              %td &#x2713;
              %td &#x2713;
              %td &#x2713;
          
          %tbody
            %tr
              %td.feature Delivery Report API
              %td &#x2713;
              %td &#x2713;
              %td &#x2713;
              %td &#x2713;
              %td &#x2713;
              %td &#x2713;

          %tbody
            %tr
              %td.feature Custom Domains
              %td
              %td
              %td &#x2713;
              %td &#x2713;
              %td &#x2713;
              %td &#x2713;
          
          %tbody
            %tr
              %td.feature S3 Attachments
              %td
              %td
              %td &#x2713;
              %td &#x2713;
              %td &#x2713;
              %td &#x2713;
                              
          %tbody
            %tr
              %td.feature Data Transfer Limit
              %td 
              %td 
              %td 
              %td 
              %td 150 GB
              %td 400 GB


      .screen

        %div.plan-wizard

          %h1 1. Plans
        
          %p
            Choose some names and monthly prices for your addon.
            We've suggested some names here but feel free to get creative.
            Most heroku addons have 3 or 4 plans, but you can have as few or many 
            as you want. 
          
            You can change all this stuff later, but any change that affects price, features or 
            availability will trigger a change notice to your existing users, and will require
            30 days to take effect.

          %table
            %thead
              %tr
                %th Plan Name
                %th Monthly Charge
              
            %tbody

              %tr
                %td.name
                  %input{value: "Prairie Dog", placeholder: "At least one plan is required!"}
                %td.charge
                  %label $
                  %input{value: "0"}
            
              %tr
                %td.name
                  %input{value: "Fox", placeholder: "Plan Name"}
                %td.charge
                  %label $
                  %input{value: "15"}

              %tr
                %td.name
                  %input{value: "Wolf", placeholder: "Plan Name"}
                %td.charge
                  %label $
                  %input{value: "35"}
          
              %tr
                %td.name
                  %input{value: "Bear", placeholder: "Plan Name"}
                %td.charge
                  %label $
                  %input{value: "100"}

              %tr
                %td.name
                  %input{placeholder: "Plan Name"}
                %td.charge
                  %label $
                  %input

              %tr
                %td.name
                  %input{placeholder: "Plan Name"}
                %td.charge
                  %label $
                  %input


              %tr
                %td.name
                  %input{placeholder: "Plan Name"}
                %td.charge
                  %label $
                  %input


      .screen
      
        %div.feature-wizard
          
          %h1 2. Features
        
          %p
            List the features you provide.
            We've suggested some examples below to get you started.

          %table
            %thead
              %tr
                %th Feature Name  
              
            %tbody

              %tr
                %td.name
                  %input{value: "Database size", placeholder: "At least one feature is required!"}
              %tr
                %td.name
                  %input{value: "Requests per month", placeholder: "Feature Name"}
                              
              %tr
                %td.name
                  %input{value: "Admin API access", placeholder: "Feature Name"}

              %tr
                %td.name
                  %input{value: "Analytics", placeholder: "Feature Name"}

              %tr
                %td.name
                  %input{placeholder: "Feature Name"}
                
              %tr
                %td.name
                  %input{placeholder: "Feature Name"}
                
              %tr
                %td.name
                  %input{placeholder: "Feature Name"}
                
              %tr
                %td.name
                  %input{placeholder: "Feature Name"}
                
              %tr
                %td.name
                  %input{placeholder: "Feature Name"}
                
              %tr
                %td.name
                  %input{placeholder: "Feature Name"}

      .screen
        %table.plans
          %thead
            %tr
              %th
                %h1 3. Configure
              %th
                Developer
                %a.remove (remove)
              %th
                Micro
                %a.remove (remove)            
              %th.micro-plus
                Micro Plus
                %a.remove (undo)
              %th
                Starter
                %a.remove (remove)
              %th
                Professional
                %a.remove (remove)
              %th
                Premium
                %a.remove (remove)

          %tbody
        
            %colgroup
              %col{span: "2", style: "color: red"}
              %col
              %col
              %col
              %col{style: "color: red"}
              %col
                
            %tr
              %td.feature
                Cost Per Month
              %td FREE
              %td $9
              %td.micro-plus $7
              %td $25
              %td $45
              %td $85
              %td

            %tr
              %td.feature
                Messages Per Month
                %a.remove (remove)
              %td 200
              %td.with_input
                %input{value: 3000}
              %td.micro-plus 3,000
              %td 10,000
              %td 20,000
              %td 40,000

            %tr
              %td.feature
                Max Size
                %a.remove (remove)
              %td 100 KB
              %td 500 KB
              %td.micro-plus 500 KB
              %td 2 MB
              %td.with_input
                %input{value: "10 MB"}
              %td 50 MB

            %tr
              %td.feature
                Delivery Status Reports
                %a.remove (remove)
              %td Yes
              %td Yes
              %td.micro-plus Yes
              %td Yes
              %td Yes
              %td Yes
          
            %tr
              %td.feature
                Delivery Report API
                %a.remove (remove)
              %td Yes
              %td Yes
              %td.micro-plus Yes
              %td.with_input
                %input{value: "Yes"}
              %td Yes
              %td Yes

            %tr
              %td.feature
                Custom Domains
                %a.remove (remove)
              %td No
              %td No
              %td.micro-plus Yes
              %td Yes
              %td Yes
              %td Yes
          
            %tr
              %td.feature
                S3 Attachments
                %a.remove (remove)
              %td No
              %td No
              %td.micro-plus Yes
              %td Yes
              %td Yes
              %td Yes
            
            %tr
              %td.feature
                Data Transfer Limit
                %a.remove (remove)
              %td 
              %td 
              %td.micro-plus 
              %td 
              %td 150 GB
              %td 400 GB

            %tr{style: "display:none"}
              %td.feature.with_input
                %input{value: "Awesome Factor"}
              %td.with_input
                %input{value: 2.5}
              %td.with_input
                %input
              %td.with_input
                %input
              %td.with_input
                %input
              %td.with_input
                %input
              %td.with_input
                %input
            
            
        %ul.options{style: "display: none"}
          %li
            %a Add a feature
          %li
            %a Add a plan
          %li
            %a Save changes
          %li
            %a Undo changes
      
        %div.save  
          %p.warning
            Any change that affects price, features or availability will be queued for approval by a heroku admin.
            Upon approval of your changes, we will notify subscribers of the affected plans by email, and the changes 
            will take effect after 30 days.

          %p
            %a.button I understand, save these changes
            %a.button.weak Undo changes
      