%html
  %head
    %script{src: "http://code.jquery.com/jquery.min.js"}    
    %script{src: "app.js"}
    
    %link{href: "http://meyerweb.com/eric/tools/css/reset/reset.css", rel: "stylesheet", type: "text/css"}
    %link{href: "style.css", rel: "stylesheet", type: "text/css"}

  %body

    #content

      .screen
        
        %ul.plans

          %li.plan.a
            %h2
              $0
              %em /month
            %h3 Ferret
            -# %p
            -#   A dinky little plan to get you off and running.
            %ul
              %li 5 MB Database
              %li 200 Requests/Day
              %li No Technical Support
              
          %li.plan.b
            %h2
              $5
              %em /month
            %h3 Beaver
            -# %p
            -#   A hard-working little plan, with a bit more power than a ferret.
            %ul
              %li 20 MB Database
              %li 100 Requests/Day
              %li No Technical Support
              
          %li.plan.c
            %h2
              $50
              %em /month
            %h3 Bear
            -# %p
            -#   Tough enough to handle most jobs, but still nimble enough to eat berries.
            %ul
              %li 1 GB Database
              %li 500 Requests/Day
              %li Technical Support
              %li Night Vision Goggles
              
          %li.plan.d
            %h2
              $100
              %em /month
            %h3 Velociraptor
            -# %p
            -#   Really fast and scary, just like in Jurassic Park.
            %ul
              %li 5 MB Database
              %li 5,000 Requests/Day
              %li Technical Support
              %li Night Vision Goggles
              %li Lunch Box
              
          %li.plan.new
            %h2 New Plan