%html
  %head
    %script{src: "http://code.jquery.com/jquery.min.js"}    
    %script{src: "app.js"}
    
    %link{href: "http://meyerweb.com/eric/tools/css/reset/reset.css", rel: "stylesheet", type: "text/css"}
    %link{href: "style.css", rel: "stylesheet", type: "text/css"}

  %body

    #content

      .screen
        
        %h1 Heroku Addon Plan Manager
        
        %p.sensational
          This page will guide you through the process of creating pricing plans for your addon.
          Here's an example:
    
        %table.plans                
          %thead
            %tr
              %th
                %h2.acme Acme SMS
              %th Developer
              %th Micro
              %th Starter
              %th Professional

          %tbody
            %tr
              %td.feature Cost Per Month
              %td FREE
              %td $9
              %td $25
              %td $45

          %tbody
            %tr
              %td.feature Messages Per Month
              %td 200
              %td 3,000
              %td 10,000
              %td 20,000

          %tbody
            %tr
              %td.feature Maximum Message Size
              %td 100 KB
              %td 500 KB
              %td 2 MB
              %td 10 MB

          %tbody
            %tr
              %td.feature Delivery Status Reports
              %td &#x2713;
              %td &#x2713;
              %td &#x2713;
              %td &#x2713;
          
          %tbody
            %tr
              %td.feature Delivery Report API
              %td &#x2713;
              %td &#x2713;
              %td &#x2713;
              %td &#x2713;

          %tbody
            %tr
              %td.feature Custom Domains
              %td
              %td
              %td &#x2713;
              %td &#x2713;
          
          %tbody
            %tr
              %td.feature S3 Attachments
              %td
              %td
              %td &#x2713;
              %td &#x2713;

      .screen

        %div.plan-wizard

          %h2 1. Name Your Plans
        
          %p
            Choose some names and monthly prices for your addon.
            We've suggested some names here but feel free to get creative.
            Most heroku addons have 3 or 4 plans, but you can have as few or many 
            as you want. 

          %table
            %thead
              %tr
                %th Plan Name
                %th Monthly Charge
              
            %tbody

              %tr
                %td.name
                  %input{value: "Prairie Dog", placeholder: "At least one plan is required!"}
                %td.charge
                  %label $
                  %input{value: "0"}
            
              %tr
                %td.name
                  %input{value: "Fox", placeholder: "Plan Name"}
                %td.charge
                  %label $
                  %input{value: "15"}

              %tr
                %td.name
                  %input{value: "Wolf", placeholder: "Plan Name"}
                %td.charge
                  %label $
                  %input{value: "45"}
          
              %tr
                %td.name
                  %input{value: "Bear", placeholder: "Plan Name"}
                %td.charge
                  %label $
                  %input{value: "100"}

              %tr
                %td.name
                  %input{placeholder: "Plan Name"}
                %td.charge
                  %label $
                  %input

              %tr
                %td.name
                  %input{placeholder: "Plan Name"}
                %td.charge
                  %label $
                  %input


      .screen
      
        %div.feature-wizard
          
          %h2 2. List Your Features
        
          %p
            List the features you provide.
            We've suggested some examples below to get you started.

          %table
            -# %thead
            -#   %tr
            -#     %th Feature Name  
              
            %tbody

              %tr
                %td.name
                  %input{value: "Database size", placeholder: "At least one feature is required!"}
              %tr
                %td.name
                  %input{value: "Requests per month", placeholder: "Feature Name"}
                              
              %tr
                %td.name
                  %input{value: "Admin API access", placeholder: "Feature Name"}

              %tr
                %td.name
                  %input{value: "Analytics", placeholder: "Feature Name"}

              %tr
                %td.name
                  %input{placeholder: "Feature Name"}
                
              %tr
                %td.name
                  %input{placeholder: "Feature Name"}
                
              %tr
                %td.name
                  %input{placeholder: "Feature Name"}
                
              %tr
                %td.name
                  %input{placeholder: "Feature Name"}
                
              %tr
                %td.name
                  %input{placeholder: "Feature Name"}
                
              %tr
                %td.name
                  %input{placeholder: "Feature Name"}

      .screen
        %table.plans
          %thead
            %tr
              %th
                %h2 3. Configure
              %th
                %input{value: "Prairie Dog"}
              %th
                %input{value: "Fox"}
                -# %a.remove (remove)            
              %th.staged_for_deletion
                %input{value: "Wolf"}
                -# %a.remove (undo)
              %th
                %input{value: "Bear"}
                -# %a.remove (remove)

          %tbody
            %tr
              %td.feature
                Cost Per Month
              %td
                %input{value: "FREE"}
              %td
                %input{value: "$15"}
              %td.staged_for_deletion
                %input{value: "$45"}              
              %td
                %input{value: "$100"}

            %tr
              %td.feature
                %input{value: "Database size"}
                -# %a.remove (remove)
              %td
                %input{value: "100 MB"}
              %td
                %input{value: "2 GB"}
              %td.staged_for_deletion
                %input{value: "10 GB"}
              %td
                %input{value: "100 GB"}

            %tr
              %td.feature
                %input{value: "Requests Per Month"}
                -# %a.remove (remove)
              %td
                %input{value: "100KB"}
              %td
                %input{value: "500 KB"}
              %td.staged_for_deletion
                %input{value: "500 KB"}
              %td
                %input{value: "2 MB"}

            %tr
              %td.feature
                %input{value: "Admin API Access"}
                -# %a.remove (remove)
              %td
                %input{value: ""}
              %td
                %input{value: ""}
              %td.staged_for_deletion
                %input{value: "Yes"}
              %td
                %input{value: "Yes"}
          
            %tr
              %td.feature
                %input{value: "Analytics"}
                -# %a.remove (remove)
              %td
                %input{value: ""}
              %td
                %input{value: ""}
              %td.staged_for_deletion
                %input{value: ""}
              %td
                %input{value: "Yes"}

            %tr{style: "display:none"}
              %td.feature
                %input{value: "Awesome Factor"}
              %td
                %input{value: 2.5}
              %td
                %input
              %td
                %input
              %td
                %input
            
            
        %ul.options{style: "display: none"}
          %li
            %a Add a feature
          %li
            %a Add a plan
          %li
            %a Save changes
          %li
            %a Undo changes
      
        %div.save  
          %p.warning
            Any change that affects price, features or availability will be queued for approval by a heroku admin.
            Upon approval of your changes, we will notify subscribers of the affected plans by email, and the changes 
            will take effect after 30 days.

          %p
            %a.button I understand, save these changes
            %a.button.weak Undo changes
      