$background_color: #181e21
$text_color: #85b0bc
$highlight_color: #99ED80
$warning_color: red

=fonty
  font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif

=gradient-bg($color1, $color2)
  background-color: $color1
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$color1}, endColorstr=#{$color2})
  background-image: -moz-linear-gradient(center top, $color1, $color2)
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($color1), to($color2))

=border-radius($r)
  -webkit-border-radius: $r
  -moz-border-radius: $r
  border-radius: $r

body
  +fonty
  background: $background_color
  color: $text_color
  font-size: .8em
  margin: 0
  padding: 20px 20px 200px 20px
  
#content
  width: 960px

ul.plans
  list-style: none
  float: none
  clear: both
  overflow: hidden
  
  li.plan
    float: left
    width: 130px
    height: 180px
    padding: 10px
    margin-right: 10px
    +border-radius(10px)
    background: transparent url(images/addon-intro-texture-background.png) repeat
    border: 3px solid $background_color
    // background-color: mix($background_color, white, 90%)    
    transition: all .5s
    -moz-transition: all .5s
    -webkit-transition: all .5s
    -o-transition: all .5s
    
    &:hover
      border-color: mix($text_color, white, 100%)
      cursor: hand
    
    &.a
      background-position: -30px -50px
    
    &.b
      background-position: -20px 9px
    
    &.c
      background-position: 10px 40px
      
    &.new
      opacity: .2
      background: mix($background_color, white, 90%)    
      h2
        font-size: 1.5em
        text-align: center
        margin-top: 65px
      &:hover
        opacity: 1
        background: transparent url(images/addon-intro-texture-background.png) repeat
    
    h2
      +fonty
      color: white
      font-size: 2.6em
      font-weight: bold
      padding: 10px 0 20px 0
      em
        font-style: normal
        font-size: .3em
        opacity: .2
      
    h3
      +fonty
      color: $highlight_color
      font-size: 1.5em
      font-weight: bold
    
    p
      padding: 5px 0
      font-size: .9em
      color: white
    
    > ul
      margin: 5px 0 0 0
      padding-left: 16px
      list-style-type: disc
      > li
        font-size: .9em
        padding: 3px 0 3px 0px
        margin: 0